.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-sm {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 75px;
  bottom: 17px;
}
